# Week 1: Jupyter and Python

Welcome to Jupyter Notebooks. Class lectures, code instructions, and student interactions will all be handled through this Jupyter Notebook interface. The material for this notebook has been partially borrowed from Geoff Boeing's Module 3 notebook for his "Data, Evidence, and Communication for the Public Good" course taught at USC and from [Geo-Python](https://geo-python-site.readthedocs.io/en/latest/), an online course taught by the Department of Geosciences and Geography at the University of Helsinki.

## What is Jupyter? Where is it?

### Using Jupyter Notebooks
There are two ways to use Jupyter Notebooks for this class. 

1. IDRE's Jupyter Hub: The first and recommended option is to use the class Jupyter Hub server that is hosted by IDRE. You will need to use your UCLA multi-factor authentication to login.
1. The second option is to install Jupyter yourself on your local machines. This has many pitfalls, in that each machine is configured differently, and may have difficulties mirroring the needed environments to run applications smoothly and in sync with the class. However, this may be recommended for more advanced users, and those who are comfortable working with the command prompt, setting up conda environments, and installing and updating necessary python libraries. Note that if you choose to run your own local jupyter environment for this course, support will be limited!

### The Notebook Interface

Practicing working with the user interface by doing the following together:

  1. Add a new cell below this one (B)
  2. Drag it to move it (Edit, Move cell up/down)
  3. Change its cell type (Y: code, M: markdown)
  4. Cut it to delete it (X)
  5. Edit > undo cell operation.
  6. Save the notebook file.
  7. Restart the kernel and clear all outputs.
  8. Run all cells up to this one.
  
Now repeat those steps by yourself to make sure you've got it all straight.

## Python

### What is Python? How does it work?
### Hello world
Have you always wanted to type "hello world" to begin a new coding adventure? This is your opportunity to do so. In the cell bellow, simply type those words and hit `shift-enter`

In [1]:
print('hello world')

hello world

In a jupyter notebook cell, hit `Shift + Enter` to run it and move to the next cell, or `Ctrl + Enter` to run it and stay on the same cell. Highlight the cell above and hit `Ctrl + Enter` to see the difference.

Welcome to your first python function, `print()`. You are passing an argument to the print command that Python interprets and decides what to do with. Get used to this syntax: "Lights, camera, action!", "Command, brackets, arguments!"

In [1]:
# this is a comment. the python interpreter ignores it.
# comments are just notes for humans to read to help understand the code
# best practice: add a comment for every couple lines of code to explain what's going on and why
# you'd be amazed at how quickly you forget your code's logic (at least i always do)

### Math
Out of the box, Python knows math too. 

The list of basic arithmetic operations that can be done by default in Python is in the table below.

| Operation      | Symbol | Example syntax | Returned value |
| -------------- | ------ | -------------- | -------------- |
| Addition       | `+`    | `2 + 2`        | `4`            |
| Subtraction    | `-`    | `4 - 2`        | `2`            |
| Multiplication | `*`    | `2 * 3`        | `6`            | 
| Division       | `/`    | `4 / 2`        | `2`            |
| Exponentiation | `**`   | `2**3`         | `8`            |

Try it:

In [2]:
# add two integers
1+1

2

In [3]:
# divide two integers to get a floating number
11/3

3.6666666666666665

In [2]:
# multiply two integers
2 * 3

6

In [3]:
# multiply two integers
2 * 3# spaces don't matter here, but keep them consistent for readability (...and they will matter momentarily)
2*3

6

<div class="alert alert-info">
    Try it yourself! Enter some math commands. Which ones work, and which don't?
</div>

### Modules
For anything more advanced, we need to load a *module*. For math operations, this module is called *math* and it can be loaded by typing ``import math``. Try that below.

In [4]:
import math

Once a module is loaded, the notebook inherits all the functions that come with it. In other words, your project has become that much more capable, expanded with abilities based on the inherited module.

In [5]:
math.sin(3)

0.1411200080598672

In [6]:
math.sqrt(4)

2.0

Let's summarize what we've just seen with modules:

1. A *module* is a group of code items such as functions that are related to one another. Individual modules are often in a group referred to as a *library*.

2. Modules can be loaded using ``import``. Functions that are part of the module ``modulename`` can then be used by typing ``modulename.functionname()``. For example, ``sin()`` is a function that is part of the ``math`` module, and used by typing ``math.sin()`` with some number between the parentheses.

3. Within a given Jupyter Notebook the variables you define earlier in the notebook will be available for use in the cells that follow as long as you have already executed the cells.

4. Modules may also contain constants such as ``math.pi``. Type this in the cell below to see the value of the contant ``math.pi``.

### Variables

*Variables* can be used to store values calculated in expressions and used for other calculations. Assigning value to variables is straightforward. To assign a value, you simply type ``variable_name = value``, where ``variable_name`` is the name of the variable you wish to define.

In [16]:
# variables, such as x here, contain values and their values can vary
x = 5

In [17]:
# what is the value of x?
x

5

In [18]:
# you can perform operations on variables, just like you can on two numbers
x + 3

8

In [19]:
# what is the value of x now?
x

5

In [20]:
# to update the value of a variable, you need to do an assignment again
x = x + 3

In [21]:
# and now what is the value of x?
x

8

In [22]:
# create a new variable y from an operation on x
x = 5
y = x * 2
y

10

In [23]:
# outputting values only displays the last thing output
# this is different from printing! it is kinda confusing!
x
y

10

In [24]:
# use print to write some value(s) to the "console"
print(x)
print(y)

5
10

In [25]:
# you can comma-separate values to print multiple values to the console on one line
print(x, y)

5 10

In [26]:
# you can also print the result of an expression
print(x * y)

50

In [29]:
# now it's your turn
# in a single line, create a new variable z and set it equal to x divided the sum of x plus y

### Converting celcius to Fahrenheit
In the cell below, define a variable called ``temp_celsius``, assign it a value of '10.0', and then print that variable value using the ``print()`` function. Note that you need to do this on two separate lines.

As we did above, you can combine text and even use some math when printing out variable values. The idea is similar to the examples of adding 2+2 or calculating the square root of four from the previous section.

<div class="alert alert-info">
    
In the cell below, print out the value of ``temp_celsius`` in degrees Fahrenheit by multiplying ``temp_celsius`` by 9/5 and adding 32. This should be done within the ``print()`` function to produce output that reads ``Temperature in Fahrenheit: 50.0``.
    
</div>

### Updating variables

Values stored in variables can also be updated. Let's redefine the value of ``temp_celsius`` to be equal to 15.0 and print its value in the cells below. You can also say that you have overridden the previous value with a new one.

In [7]:
temp_celsius = 15.0

In [8]:
print('temperature in Celsius is now:', temp_celsius)

temperature in Celsius is now: 15.0

<div class="alert alert-warning">

**Warning**

If you try to run some code that accesses a variable that has not yet been defined you will get a `NameError` message. Try printing out the value of the variable ``tempFahrenheit`` using the ``print()`` function in the cell below.

</div>

In [10]:
print('Temperature in Celsius:', 5/9 * (tempFahrenheit - 32))

NameError: name 'tempFahrenheit' is not defined

<div class="alert alert-info">

**Note**

One of the interesting things here is that if we define the undefined variable in a cell lower down in the notebook and execute that cell, we can return to the earlier cell and the code should now work. That was a bit of a complicated sentence, so let's test this all out. First, let's define a variable called ``tempFahrenheit`` in the cell below and assign it to be equal to ``9/5 * temp_celsius + 32``, the conversion factor from temperatures in Celsius to Fahrenheit. Then, return to the cell above this text and run that cell again. See how the error message has gone away? ``tempFahrenheit`` has now been defined and thus the cell above no longer generates a ``NameError`` when the code is executed.

Also, the number beside the cell, for example ``In [2]``, tells you the order in which the Python cells have been executed. This way you can see a history of the order in which you have run the cells.
</div>

In [11]:
tempFahrenheit = 9/5 * temp_celsius + 32

Just to check their current values, print out the values of ``temp_celsius`` and ``tempFahrenheit`` in the cell below.

In [12]:
print('temperature in Celsius:', temp_celsius, 'and in Fahrenheit:', tempFahrenheit)

temperature in Celsius: 15.0 and in Fahrenheit: 59.0

### Variable values

Changing the value of a variable does not affect other variable values. Let's redefine ``temp_celsius`` to be equal to 20.0, and print out the values of ``temp_celsius`` and ``tempFahrenheit``.

In [13]:
temp_celsius = 20.0
print('temperature in Celsius is now:', temp_celsius, 'and temperature in Fahrenheit is still:', tempFahrenheit)

temperature in Celsius is now: 20.0 and temperature in Fahrenheit is still: 59.0

### Getting help

In [30]:
# ask ipython for it by using '?'
len?

In [ ]:
# use tab-completion to fill in the rest of statements, functions, methods
prin

In [14]:
# tab-completion also works with variables you have created (ie, a variable in memory)
number_of_students = 30

In [34]:
numbe

10

In [35]:
# what about errors? you can't divide by zero...
12/0

ZeroDivisionError: division by zero

How do you read that "traceback" message?

For syntax errors or how to do something, Google it! (This is literally 90% of my job...)

Also, StackOverflow is a particularly good site for code snippets and troubleshooting: https://stackoverflow.com/

### Data types

There are 4 basic *data types* in Python as shown in the table below.

| Data type name | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| `int`          | Whole integer values | `4`        |
| `float`        | Decimal values       | `3.1415`   |
| `str`          | Character strings    | `'Hot'`    |
| `bool`         | True/false values    | `True`     |

The data type can be found using the `type()` function.

In [36]:
# integers are whole numbers
type(125)

int

In [37]:
# every variable has a data type, and they can be of any type
x = 125
type(x)

int

In [41]:
# ask python if it is an int
isinstance(x, int)

True

In [42]:
# float is a floating point (aka decimal) number
some_rate = 4.3
type(some_rate)

float

In [43]:
# is it an int?
isinstance(some_rate, int)

False

In [44]:
# you can change a variable's type by re-assigning it
some_rate = 125
isinstance(some_rate, int)

True

In [45]:
# strings are "strings" of characters
s = 'abc'
type(s)

str

In [46]:
# a list is a collection of elements denoted by square brackets
# it knows it's a list because of those brackets
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [47]:
type(my_list)

list

In [49]:
# a dictionary is a collection of key:value pairs, denoted by curly braces
person = {'first_name':'Yoh', 'last_name':'Kawano'}
person

{'first_name': 'Yoh', 'last_name': 'Kawano'}

In [50]:
type(person)

dict

In [51]:
# now you try
# create a new dict variable containing the individual components of your home address

#### Check your understanding

As it turns out, you can do some math with character strings in Python. Define two variables and assign them character string values in the Python cell below. What happens if you try to add two character strings together? Can you subtract them? Which other math operations work for character strings?

In [17]:
# Place your code on the line(s) below.

## Strings

In [24]:
# some of the operators we saw earlier work on strings
city = 'Los Angeles'
sep = ', '
state = 'CA'
zip_code = '90095'

# you can "concatenate" strings with the + operator
location = city + sep + state + ' ' + zip_code
print(location)

Los Angeles, CA 90095

Here is a scenario that you will encounter frequently when working with census data FIPS codes. As some of you may know, the FIPS code for the state of California is `06`. The county FIPS code for Los Angeles is `037`. Both happen to have "leading zeros."

Try to assign a new variable `state_county_FIPS` to equal `06037` below. What happens?

In [25]:
# error
state_county_FIPS = 06037

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-25-3bea49353aca>, line 2)

How do you fix this problem? 

Assign the variable as a string, by adding single quotes around its value.

In [26]:
# the FIPS code 06037 isn't actually a number, it's a string of numeric characters
# important to remember! FIPS codes aren't numeric, they are strings!
state_county_FIPS = '06037'

In [27]:
# multiplying a string just duplicates it
state_county_FIPS * 3

'060370603706037'

In [28]:
# you can get the nth element from an iterable object (like a string) with [n] indexing notation
# remember, in Python the index starts with zero not one
print(location)
location[0]

Los Angeles, CA 90095

'L'

In [29]:
print(location[0])
print(location[1])
print(location[2])

L
o
s

In [30]:
# how many characters are in this string? use len function
len(location)

21

In [31]:
# get a substring from some position up to but not including a second position
location[4:7]

'Ang'

In [32]:
# get the first n characters from the string
location[:5]

'Los A'

In [33]:
# get the characters from the string after the nth position
location[5:]

'ngeles, CA 90095'

In [34]:
# get the final n characters from the string
location[-8:]

'CA 90095'

In [35]:
# you can replace characters in a string with the replace() method
location.replace('e', 'E')

'Los AngElEs, CA 90095'

In [36]:
# now it's your turn
# create a new string from the 1st, 3rd, and 5th characters in location

## Converting between types

In [37]:
zip_code

'90095'

In [38]:
# you can convert between data types
type(zip_code)

str

In [39]:
# convert the zip code string to an integer (notice what happens to the single quotes)
zip_code = int(zip_code)
zip_code

90095

In [40]:
type(zip_code)

int

In [41]:
# the math works better now
zip_code * 2

180190

In [42]:
x = 3
print(x * 2)
y = str(x)
print(y * 2)

6
33

In [43]:
# the int function won't convert a string that looks like a floating point number
rent_str = '2500.00'
rent_int = int(rent_str)

ValueError: invalid literal for int() with base 10: '2500.00'

In [44]:
# but you can daisy-chain functions together to convert the string to a float then to an int
# the inner function executes then passes its value to the outer function
rent_int = int(float(rent_str))
rent_int

2500

In [45]:
# you cannot concatenate a string and a number
city = 'Los Angeles '
zip_code = 90089
city + zip_code

TypeError: can only concatenate str (not "int") to str

In [46]:
# so convert the number first, then concatenate
city + str(zip_code)

'Los Angeles 90089'

In [47]:
# now it's your turn
# extract the zip code characters from the end of the "location" variable and convert to integer

## Iterables: Lists, Tuples, Sets

In [89]:
# first off, tuples are like lists, but immutable (you can't "edit" them in place)
# they are denoted with parentheses
my_tuple = (3, 2, 1, 2)
my_tuple

(3, 2, 1, 2)

In [90]:
# you can find the sum of an iterable with sum()
sum(my_tuple)

8

In [91]:
# a set contains only unique values
# sets are denoted by curly braces (like dicts)... kinda confusing!
set(my_tuple)

{1, 2, 3}

In [92]:
# this is a list
my_list = [2, 4, 6, 8]

In [93]:
# how many elements are in this list?
len(my_list)

4

In [94]:
# get the zero-th element in a list
my_list[0]

2

In [95]:
# you can update elements in a list because it is mutable
my_list[2] = 100
my_list

[2, 4, 100, 8]

In [96]:
# add a new element with the append() method
# lists can hold elements of varying data types
my_list.append('hello')
my_list

[2, 4, 100, 8, 'hello']

In [97]:
# you can also add lists to concatenate them
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

## Converting list elements

In [98]:
# objective: how do we convert a list of integer values into a list of equivalent string values?
# in other words, how do we convert each element in a list to a different data type?
# first, let's make a list containing the first 5 even numbers
int_list = [2, 4, 6, 8, 10]

In [99]:
# how many elements are in our list?
len(int_list)

5

In [100]:
# what is the value of the element in the zero-th position of the list?
int_list[0]

2

In [101]:
# what is the data type of this element in the zero-th position?
type(int_list[0])

int

In [102]:
# let's convert that element from an int to a string using the str() function
str(int_list[0])

'2'

In [103]:
# let's check the data type that results from that str() function operating on our list element
type(str(int_list[0]))

str

In [104]:
# now we'll create a new list to contain the string versions of our integers
str_list = []

In [105]:
# now let's convert the element in the zero-th position of our int_list to a string
# and append it to the new str_list that will contain string values
# remember, the way to add a new element to a list is list.append()
# we are simply appending the result of the string conversion
str_list.append(str(int_list[0]))

In [106]:
# our str_list should have one element - the value at the zero-th position of int_list, converted to a string
str_list

['2']

In [107]:
# looks like that worked, so let's convert and append the rest of the values
# we know our int_list contains 5 elements from when we ran len() on it earlier
# we've already done position 0, now let's do positions 1 - 4
str_list.append(str(int_list[1]))
str_list.append(str(int_list[2]))
str_list.append(str(int_list[3]))
str_list.append(str(int_list[4]))

In [108]:
# let's see our list of strings
str_list

['2', '4', '6', '8', '10']

In [109]:
# and for comparison, here's our original list of integers
int_list

[2, 4, 6, 8, 10]

In [110]:
# what we have seen is a manual way of doing this int -> string conversion
# the whole benefit of coding is that we automate this sort of manual work
# over the next couple of weeks we'll learn more advanced and efficient techniques like this:
new_list = []
for value in int_list:
    new_list.append(str(value))
new_list

['2', '4', '6', '8', '10']

In [111]:
# ...and eventually we'll learn even more advanced/efficient techniques, like this:
[str(value) for value in int_list]

['2', '4', '6', '8', '10']

In [ ]:
# now you try
# write a code snippet to multiply all the items in int_list by 3, then sum the result

In [ ]:
# now you try
# calculate the mean value of int_list

## Dictionaries

In [ ]:
antonyms = {'hot':'cold', 'fast':'slow', 'good':'bad'}
antonyms

In [ ]:
# you can access things in a dictionary using its keys
antonyms['hot']

In [ ]:
# you can update values in a dictionary because it is mutable
antonyms['hot'] = 'freezing'
antonyms

In [ ]:
# what are all the keys in this dict?
antonyms.keys()

In [ ]:
# what are all the values in this dict?
antonyms.values()

In [ ]:
# essentially a list of tuples
antonyms.items()

In [ ]:
# now you try
# write a code snippet to create a new dict with swapped keys and values

## Resources
- https://geo-python-site.readthedocs.io/