# Week 1: Coding Bootcamp I

The material for this notebook is a slightly modified version of Geoff Boeing's Module 3 notebook for his "Data, Evidence, and Communication for the Public Good" course taught at USC.

## The Jupyter Notebook

Today we will cover the basics of Python, and introduce elements that will help you get familiar with Python as an interactive computational environment for exploring data.  The material is presented in an interactive environment that runs within your web browser, called a notebook. It allows presentation of text and graphics to be combined with Python code that can be run interactively, with the results appearing inline. We are looking at a notebook now.

Python is an interpreted programming language, also referred to as a *high-level language* or as a scripting language. What this means is that when you write commands, or code that is meaningful in the Python language, the Python "interpreter" reads the command, figures out what the intended computation is, and then executes it. This differs from *low-level* languages like C or C++, in which you generally have to compile code  before you can run it, and if you find errors they have to be diagnosed and then the code re-compiled before you can run it. Interpreted languages skip the compile step, and just execute code directly, and if there are errors, they are seen at run-time.

## Python Environments

There are several ways to work with Python code:
1. Starting Python at the command line, by typing 'python' at the command prompt
1. Running a Python script file (.py)
1. The way we will generally interact with Python is through Jupyter notebooks, a handy interface that runs in your web browser.  This is the environment you are looking at now, with a mixture of headings, text, and code embedded in an Python Notebook.


## Writing Code

In a jupyter notebook cell, hit Shift + Enter to run it and move to the next cell, or Ctrl + Enter to run it and stay on the same cell.

The first programming command demonstrated when you are learning a programming language is usually to make the computer print 'Hello World!'.  In Python, doing this is pretty simple:

In [1]:
print('Hello World!')

Hello World!

In [2]:
# this is a comment. the python interpreter ignores it.
# comments are just notes for humans to read to help understand the code
# best practice: add a comment for every couple lines of code to explain what's going on and why
# you'd be amazed at how quickly you forget your code's logic (at least i always do)

## The Notebook Interface

Practicing working with the user interface by doing the following together:

  1. Add a new cell below this one (B)
  2. Drag it to move it (Edit, Move cell up/down)
  3. Change its cell type (Y: code, M: markdown)
  4. Cut it to delete it (X)
  5. Edit > undo cell operation.
  6. Save the notebook file.
  7. Restart the kernel and clear all outputs.
  8. Run all cells up to this one.
  
Now repeat those steps by yourself to make sure you've got it all straight.

## Math in Python

using mathematical operators

In [3]:
# add two integers
1 + 1

2

In [4]:
# multiply two integers
2 * 3

6

In [5]:
# spaces don't matter here, but keep them consistent for readability (...and they will matter momentarily)
2*3

6

In [6]:
# divide two integers
10 / 5

2.0

In [7]:
# raise 2 to the 4th power
2 ** 4

16

In [8]:
# take the square root of 9 (by raising it to the power of 0.5). notice the order of operations.
9 ** (1 / 2)

3.0

In [15]:
# now you try
# in a single line, divide the sum of ninety plus seventy by the product of twelve and eleven

## Working with variables

In [16]:
# variables, such as x here, contain values and their values can vary
x = 5

In [17]:
# what is the value of x?
x

5

In [18]:
# you can perform operations on variables, just like you can on two numbers
x + 3

8

In [19]:
# what is the value of x now?
x

5

In [20]:
# to update the value of a variable, you need to do an assignment again
x = x + 3

In [21]:
# and now what is the value of x?
x

8

In [22]:
# create a new variable y from an operation on x
x = 5
y = x * 2
y

10

In [23]:
# outputting values only displays the last thing output
# this is different from printing! it is kinda confusing!
x
y

10

In [24]:
# use print to write some value(s) to the "console"
print(x)
print(y)

5
10

In [25]:
# you can comma-separate values to print multiple values to the console on one line
print(x, y)

5 10

In [26]:
# you can also print the result of an expression
print(x * y)

50

In [29]:
# now it's your turn
# in a single line, create a new variable z and set it equal to x divided the sum of x plus y

## Getting help

In [30]:
# ask ipython for it by using '?'
len?

In [ ]:
# use tab-completion to fill in the rest of statements, functions, methods
prin

In [33]:
# tab-completion also works with variables you have created (ie, a variable in memory)
number_of_students = 10

In [34]:
numbe

10

In [35]:
# what about errors? you can't divide by zero...
12/0

ZeroDivisionError: division by zero

How do you read that "traceback" message?

For syntax errors or how to do something, Google it! (This is literally 90% of my job...)

Also, StackOverflow is a particularly good site for code snippets and troubleshooting: https://stackoverflow.com/

## Basic data types

Data in Python is interpreted as having a **type**.  In low-level, compiled languages like C or C++, the programmer has to explicitly declare the type of each variable before actually using it.  In Python, the type is inferred at run time, and you can always ask Python what the type of an object is:

In [36]:
# integers are whole numbers
type(125)

int

In [37]:
# every variable has a data type, and they can be of any type
x = 125
type(x)

int

In [41]:
# ask python if it is an int
isinstance(x, int)

True

In [42]:
# float is a floating point (aka decimal) number
some_rate = 4.3
type(some_rate)

float

In [43]:
isinstance(some_rate, int)

False

In [44]:
# you can change a variable's type by re-assigning it
some_rate = 125
isinstance(some_rate, int)

True

In [45]:
# strings are "strings" of characters
s = 'abc'
type(s)

str

In [46]:
# a list is a collection of elements denoted by square brackets
# it knows it's a list because of those brackets
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [47]:
type(my_list)

list

In [49]:
# a dictionary is a collection of key:value pairs, denoted by curly braces
person = {'first_name':'Yoh', 'last_name':'Kawano'}
person

{'first_name': 'Yoh', 'last_name': 'Kawano'}

In [50]:
type(person)

dict

In [51]:
# now you try
# create a new dict variable containing the individual components of your home address

## Working with data types

In [52]:
# divide 2 integers
num1 = 8
num2 = 5
num1 / num2

1.6

In [53]:
# divide 2 integers (produces a float result consistently)
num1 = 10
num2 = 5
num1 / num2

2.0

In [54]:
# check the data types as we go along by printing them
# very useful for tracking progress as your code runs!
num1 = 8.0
print(type(num1))

num2 = 5
print(type(num2))

num3 = num1 / num2
print(type(num3))

num3

<class 'float'>
<class 'int'>
<class 'float'>

1.6

## Strings

In [63]:
# some of the operators we saw earlier work on strings
city = 'Los Angeles'
sep = ', '
state = 'CA'
zip_code = '90095'

# you can "concatenate" strings with the + operator
location = city + sep + state + ' ' + zip_code
print(location)

Los Angeles, CA 90095

In [64]:
# error
state_county_FIPS = 06037

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-64-3bea49353aca>, line 2)

In [65]:
# the FIPS code 06037 isn't actually a number, it's a string of numeric characters
# important to remember! FIPS codes aren't numeric, they are strings!
state_county_FIPS = '06037'

In [66]:
# multiplying a string just duplicates it
state_county_FIPS * 3

'060370603706037'

In [67]:
# you can get the nth element from an iterable object (like a string) with [n] indexing notation
# remember, in Python the index starts with zero not one
print(location)
location[0]

Los Angeles, CA 90095

'L'

In [68]:
print(location[0])
print(location[1])
print(location[2])

L
o
s

In [69]:
# how many characters are in this string? use len function
len(location)

21

In [70]:
# get a substring from some position up to but not including a second position
location[4:7]

'Ang'

In [71]:
# get the first n characters from the string
location[:5]

'Los A'

In [72]:
# get the characters from the string after the nth position
location[5:]

'ngeles, CA 90095'

In [73]:
# get the final n characters from the string
location[-8:]

'CA 90095'

In [74]:
# you can replace characters in a string with the replace() method
location.replace('e', 'E')

'Los AngElEs, CA 90095'

In [75]:
# now it's your turn
# create a new string from the 1st, 3rd, and 5th characters in location

## Converting between types

In [76]:
zip_code

'90095'

In [77]:
# you can convert between data types
type(zip_code)

str

In [80]:
# convert the zip code string to an integer (notice what happens to the single quotes)
zip_code = int(zip_code)
zip_code

90095

In [81]:
type(zip_code)

int

In [82]:
# the math works better now
zip_code * 2

180190

In [83]:
x = 3
print(x * 2)
y = str(x)
print(y * 2)

6
33

In [84]:
# the int function won't convert a string that looks like a floating point number
rent_str = '2500.00'
rent_int = int(rent_str)

ValueError: invalid literal for int() with base 10: '2500.00'

In [85]:
# but you can daisy-chain functions together to convert the string to a float then to an int
# the inner function executes then passes its value to the outer function
rent_int = int(float(rent_str))
rent_int

2500

In [86]:
# you cannot concatenate a string and a number
city = 'Los Angeles '
zip_code = 90089
city + zip_code

TypeError: can only concatenate str (not "int") to str

In [87]:
# so convert the number first, then concatenate
city + str(zip_code)

'Los Angeles 90089'

In [88]:
# now it's your turn
# extract the zip code characters from the end of the "location" variable and convert to integer

## Iterables: Lists, Tuples, Sets

In [89]:
# first off, tuples are like lists, but immutable (you can't "edit" them in place)
# they are denoted with parentheses
my_tuple = (3, 2, 1, 2)
my_tuple

(3, 2, 1, 2)

In [90]:
# you can find the sum of an iterable with sum()
sum(my_tuple)

8

In [91]:
# a set contains only unique values
# sets are denoted by curly braces (like dicts)... kinda confusing!
set(my_tuple)

{1, 2, 3}

In [92]:
# this is a list
my_list = [2, 4, 6, 8]

In [93]:
# how many elements are in this list?
len(my_list)

4

In [94]:
# get the zero-th element in a list
my_list[0]

2

In [95]:
# you can update elements in a list because it is mutable
my_list[2] = 100
my_list

[2, 4, 100, 8]

In [96]:
# add a new element with the append() method
# lists can hold elements of varying data types
my_list.append('hello')
my_list

[2, 4, 100, 8, 'hello']

In [97]:
# you can also add lists to concatenate them
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

## Converting list elements

In [98]:
# objective: how do we convert a list of integer values into a list of equivalent string values?
# in other words, how do we convert each element in a list to a different data type?
# first, let's make a list containing the first 5 even numbers
int_list = [2, 4, 6, 8, 10]

In [99]:
# how many elements are in our list?
len(int_list)

5

In [100]:
# what is the value of the element in the zero-th position of the list?
int_list[0]

2

In [101]:
# what is the data type of this element in the zero-th position?
type(int_list[0])

int

In [102]:
# let's convert that element from an int to a string using the str() function
str(int_list[0])

'2'

In [103]:
# let's check the data type that results from that str() function operating on our list element
type(str(int_list[0]))

str

In [104]:
# now we'll create a new list to contain the string versions of our integers
str_list = []

In [105]:
# now let's convert the element in the zero-th position of our int_list to a string
# and append it to the new str_list that will contain string values
# remember, the way to add a new element to a list is list.append()
# we are simply appending the result of the string conversion
str_list.append(str(int_list[0]))

In [106]:
# our str_list should have one element - the value at the zero-th position of int_list, converted to a string
str_list

['2']

In [107]:
# looks like that worked, so let's convert and append the rest of the values
# we know our int_list contains 5 elements from when we ran len() on it earlier
# we've already done position 0, now let's do positions 1 - 4
str_list.append(str(int_list[1]))
str_list.append(str(int_list[2]))
str_list.append(str(int_list[3]))
str_list.append(str(int_list[4]))

In [108]:
# let's see our list of strings
str_list

['2', '4', '6', '8', '10']

In [109]:
# and for comparison, here's our original list of integers
int_list

[2, 4, 6, 8, 10]

In [110]:
# what we have seen is a manual way of doing this int -> string conversion
# the whole benefit of coding is that we automate this sort of manual work
# over the next couple of weeks we'll learn more advanced and efficient techniques like this:
new_list = []
for value in int_list:
    new_list.append(str(value))
new_list

['2', '4', '6', '8', '10']

In [111]:
# ...and eventually we'll learn even more advanced/efficient techniques, like this:
[str(value) for value in int_list]

['2', '4', '6', '8', '10']

In [ ]:
# now you try
# write a code snippet to multiply all the items in int_list by 3, then sum the result

In [ ]:
# now you try
# calculate the mean value of int_list

## Dictionaries

In [ ]:
antonyms = {'hot':'cold', 'fast':'slow', 'good':'bad'}
antonyms

In [ ]:
# you can access things in a dictionary using its keys
antonyms['hot']

In [ ]:
# you can update values in a dictionary because it is mutable
antonyms['hot'] = 'freezing'
antonyms

In [ ]:
# what are all the keys in this dict?
antonyms.keys()

In [ ]:
# what are all the values in this dict?
antonyms.values()

In [ ]:
# essentially a list of tuples
antonyms.items()

In [ ]:
# now you try
# write a code snippet to create a new dict with swapped keys and values

## What is a program?

As Allen Downey explains in Think Python, the main elements of a program are:

**input**: Get data from the keyboard, a ﬁle, or some other device.

**output**: Display data on the screen or send data to a ﬁle or other device.

**math**: Perform basic mathematical operations like addition and multiplication.

**conditional execution**: Check for certain conditions and execute the appropriate code.

**repetition**: Perform some action repeatedly, usually with some variation.

These are common steps that you will find to be a generic recipe for many programs, whether written in Python or any other language.

In [ ]:
# write a short program to calculate the length of the hypotenuse of a right triangle where the other sides have lengths 3 and 4
# assign each side's length to its own variable