## Mapping Census Data 2

https://github.com/datamade/census

Looking at the planning database, a select operational, housing, demographic, and socio-economic statistics from the 2010 Census and the American Community Survey (ACS) 5-year files. :
https://www.census.gov/topics/research/guidance/planning-databases.2020.html?utm_campaign=20200724msdevs1ccdtast&utm_medium=email&utm_source=govdelivery

In [1]:
%matplotlib inline
import requests,pandas as pd
 

 
year='2020'
dsource='pdb'
dname='statecounty'
cols='NH_White_alone_ACS_14_18,NH_Blk_alone_ACS_14_18,Med_HHD_Inc_ACS_14_18'
state='06'
county='*'

In [2]:
base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}'
# base_url = 'https://api.census.gov/data/2020/pdb/statecounty'

# https://api.census.gov/data/2020/pdb/statecounty?get=Males_CEN_2010,Females_CEN_2010,Tot_Population_CEN_2010&for=county:037&in=state:01

In [3]:
base_url

'https://api.census.gov/data/2020/pdb/statecounty'

In [4]:
api_key='0e141ef3c6546452ebd328d6b5e4fd60179ab604'

In [5]:
data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}&key={api_key}'
data_url

'https://api.census.gov/data/2020/pdb/statecounty?get=NH_White_alone_ACS_14_18,NH_Blk_alone_ACS_14_18,Med_HHD_Inc_ACS_14_18&for=county:*&in=state:06&key=0e141ef3c6546452ebd328d6b5e4fd60179ab604'

In [6]:
response=requests.get(data_url)
print(response.text)

[["NH_White_alone_ACS_14_18","NH_Blk_alone_ACS_14_18","Med_HHD_Inc_ACS_14_18","state","county"],
["523391","172329","$92,574","06","001"],
["678","9","$64,688","06","003"],
["29763","749","$61,198","06","005"],
["164390","3303","$48,443","06","007"],
["36905","299","$58,151","06","009"],
["7672","277","$56,704","06","011"],
["502951","93683","$93,712","06","013"],
["17172","758","$45,258","06","015"],
["145990","1432","$80,582","06","017"],
["291455","44474","$51,261","06","019"],
["14507","223","$47,395","06","021"],
["101305","1342","$45,528","06","023"],
["19773","3906","$45,834","06","025"],
["11389","160","$52,874","06","027"],
["307030","45053","$52,479","06","029"],
["49058","8784","$53,865","06","031"],
["45623","1426","$42,475","06","033"],
["20528","2695","$56,362","06","035"],
["2659052","795505","$64,251","06","037"],
["53531","4835","$52,884","06","039"],
["185809","5597","$110,217","06","041"],
["14125","166","$51,199","06","043"],
["57314","511","$49,233","06","045"],
["76008","8038","$50,129","06","047"],
["6962","149","$45,149","06","049"],
["9234","40","$63,018","06","051"],
["131238","10606","$66,676","06","053"],
["74159","2764","$84,753","06","055"],
["84470","601","$63,240","06","057"],
["1296036","50412","$85,398","06","059"],
["278380","5868","$84,357","06","061"],
["15571","194","$53,270","06","063"],
["856468","144503","$63,948","06","065"],
["682500","144003","$63,902","06","067"],
["20780","434","$81,977","06","069"],
["623262","168864","$60,164","06","071"],
["1515380","155536","$74,855","06","073"],
["353670","43619","$104,552","06","075"],
["237887","49926","$61,145","06","077"],
["194574","4912","$70,699","06","079"],
["303047","16838","$113,776","06","081"],
["199356","7881","$71,657","06","083"],
["615912","45379","$116,178","06","085"],
["157540","2359","$78,041","06","087"],
["143575","2140","$50,905","06","089"],
["2567","6","$48,125","06","091"],
["33390","619","$44,200","06","093"],
["168870","59500","$77,609","06","095"],
["318237","7192","$76,753","06","097"],
["229796","14338","$57,387","06","099"],
["44769","1793","$56,955","06","101"],
["43539","420","$42,899","06","103"],
["10607","87","$38,497","06","105"],
["133617","5870","$47,518","06","107"],
["43364","880","$56,493","06","109"],
["388301","13677","$84,017","06","111"],
["101274","5215","$65,923","06","113"],
["42085","2340","$52,624","06","115"]]

In [7]:
data=response.json()
data

[['NH_White_alone_ACS_14_18',
  'NH_Blk_alone_ACS_14_18',
  'Med_HHD_Inc_ACS_14_18',
  'state',
  'county'],
 ['523391', '172329', '$92,574', '06', '001'],
 ['678', '9', '$64,688', '06', '003'],
 ['29763', '749', '$61,198', '06', '005'],
 ['164390', '3303', '$48,443', '06', '007'],
 ['36905', '299', '$58,151', '06', '009'],
 ['7672', '277', '$56,704', '06', '011'],
 ['502951', '93683', '$93,712', '06', '013'],
 ['17172', '758', '$45,258', '06', '015'],
 ['145990', '1432', '$80,582', '06', '017'],
 ['291455', '44474', '$51,261', '06', '019'],
 ['14507', '223', '$47,395', '06', '021'],
 ['101305', '1342', '$45,528', '06', '023'],
 ['19773', '3906', '$45,834', '06', '025'],
 ['11389', '160', '$52,874', '06', '027'],
 ['307030', '45053', '$52,479', '06', '029'],
 ['49058', '8784', '$53,865', '06', '031'],
 ['45623', '1426', '$42,475', '06', '033'],
 ['20528', '2695', '$56,362', '06', '035'],
 ['2659052', '795505', '$64,251', '06', '037'],
 ['53531', '4835', '$52,884', '06', '039'],
 ['185809', '5597', '$110,217', '06', '041'],
 ['14125', '166', '$51,199', '06', '043'],
 ['57314', '511', '$49,233', '06', '045'],
 ['76008', '8038', '$50,129', '06', '047'],
 ['6962', '149', '$45,149', '06', '049'],
 ['9234', '40', '$63,018', '06', '051'],
 ['131238', '10606', '$66,676', '06', '053'],
 ['74159', '2764', '$84,753', '06', '055'],
 ['84470', '601', '$63,240', '06', '057'],
 ['1296036', '50412', '$85,398', '06', '059'],
 ['278380', '5868', '$84,357', '06', '061'],
 ['15571', '194', '$53,270', '06', '063'],
 ['856468', '144503', '$63,948', '06', '065'],
 ['682500', '144003', '$63,902', '06', '067'],
 ['20780', '434', '$81,977', '06', '069'],
 ['623262', '168864', '$60,164', '06', '071'],
 ['1515380', '155536', '$74,855', '06', '073'],
 ['353670', '43619', '$104,552', '06', '075'],
 ['237887', '49926', '$61,145', '06', '077'],
 ['194574', '4912', '$70,699', '06', '079'],
 ['303047', '16838', '$113,776', '06', '081'],
 ['199356', '7881', '$71,657', '06', '083'],
 ['615912', '45379', '$116,178', '06', '085'],
 ['157540', '2359', '$78,041', '06', '087'],
 ['143575', '2140', '$50,905', '06', '089'],
 ['2567', '6', '$48,125', '06', '091'],
 ['33390', '619', '$44,200', '06', '093'],
 ['168870', '59500', '$77,609', '06', '095'],
 ['318237', '7192', '$76,753', '06', '097'],
 ['229796', '14338', '$57,387', '06', '099'],
 ['44769', '1793', '$56,955', '06', '101'],
 ['43539', '420', '$42,899', '06', '103'],
 ['10607', '87', '$38,497', '06', '105'],
 ['133617', '5870', '$47,518', '06', '107'],
 ['43364', '880', '$56,493', '06', '109'],
 ['388301', '13677', '$84,017', '06', '111'],
 ['101274', '5215', '$65,923', '06', '113'],
 ['42085', '2340', '$52,624', '06', '115']]

In [8]:
df=pd.DataFrame(data[1:], columns=data[0]).\
    rename(columns={"NH_White_alone_ACS_14_18": "White", "NH_Blk_alone_ACS_14_18": "Black", "Med_HHD_Inc_ACS_14_18":"Median_Income"})
df.sample(5)

      White   Black Median_Income state county
42   615912   45379      $116,178    06    085
37   353670   43619      $104,552    06    075
36  1515380  155536       $74,855    06    073
24     6962     149       $45,149    06    049
46    33390     619       $44,200    06    093

In [9]:
df['fips']=df.state+df.county
df.set_index('fips',inplace=True)
df.drop(columns=['state','county'],inplace=True)
# df=df.astype(dtype={'Natural Increase':'int64','Net Domestic Mig':'int64','Net Foreign Mig':'int64'},inplace=True)

In [10]:
df

         White   Black Median_Income
fips
06001   523391  172329       $92,574
06003      678       9       $64,688
06005    29763     749       $61,198
06007   164390    3303       $48,443
06009    36905     299       $58,151
06011     7672     277       $56,704
06013   502951   93683       $93,712
06015    17172     758       $45,258
06017   145990    1432       $80,582
06019   291455   44474       $51,261
06021    14507     223       $47,395
06023   101305    1342       $45,528
06025    19773    3906       $45,834
06027    11389     160       $52,874
06029   307030   45053       $52,479
06031    49058    8784       $53,865
06033    45623    1426       $42,475
06035    20528    2695       $56,362
06037  2659052  795505       $64,251
06039    53531    4835       $52,884
06041   185809    5597      $110,217
06043    14125     166       $51,199
06045    57314     511       $49,233
06047    76008    8038       $50,129
06049     6962     149       $45,149
06051     9234      40       $63,018
06053   131238   10606       $66,676
06055    74159    2764       $84,753
06057    84470     601       $63,240
06059  1296036   50412       $85,398
06061   278380    5868       $84,357
06063    15571     194       $53,270
06065   856468  144503       $63,948
06067   682500  144003       $63,902
06069    20780     434       $81,977
06071   623262  168864       $60,164
06073  1515380  155536       $74,855
06075   353670   43619      $104,552
06077   237887   49926       $61,145
06079   194574    4912       $70,699
06081   303047   16838      $113,776
06083   199356    7881       $71,657
06085   615912   45379      $116,178
06087   157540    2359       $78,041
06089   143575    2140       $50,905
06091     2567       6       $48,125
06093    33390     619       $44,200
06095   168870   59500       $77,609
06097   318237    7192       $76,753
06099   229796   14338       $57,387
06101    44769    1793       $56,955
06103    43539     420       $42,899
06105    10607      87       $38,497
06107   133617    5870       $47,518
06109    43364     880       $56,493
06111   388301   13677       $84,017
06113   101274    5215       $65,923
06115    42085    2340       $52,624

In [11]:
# import the us county geojson
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [ ]:
import plotly.express as px

fig = px.choropleth(df, 
                    geojson=counties, 
                    locations=df.index, 
                    color='Black',
                    color_continuous_scale="Viridis",
                    scope="usa"
                          )

# show just the geographies with data
fig.update_geos(fitbounds="locations", visible=False)

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.show()