# Basic elements of Python

In this lesson we will revisit data types, learn how data can be stored in Python lists, and about the concept of objects in programming.

## Sources

Like the previous lesson, this lesson is inspired by the [Programming with Python lessons](https://swcarpentry.github.io/python-novice-inflammation/) from the [Software Carpentry organization](https://swcarpentry.github.io/).

<div class="alert alert-info">

**Note**

There are some Python cells in this notebook that *already* contain code. You just need to press **Shift**-**Enter** to run those cells. We're trying to avoid having you race to keep up typing in basic things for the lesson so you can focus on the main points :D.

</div>

In [44]:
import geopandas as gpd

In [45]:
metro = gpd.read_file('../data/ExpoLine0316.shp')
metro.head(100)

,LINE,LINENUM,LINENUM2,STNSEQ,STNSEQ2,DIR,STOPNUM,STATION,LAT,LONG,TPIS_NAME,POINT_X,POINT_Y,geometry
0,Blue/EXPO,801,806,2,11,None,80121,Pico Station,34.040735,-118.266118,Pico,6.481045e+06,1.837313e+06,POINT (-118.26612 34.04073)
1,Blue/EXPO,801,806,1,12,None,80122,7th St / Metro Center Station - Metro Blue & E...,34.048610,-118.258822,7MC,6.483263e+06,1.840173e+06,POINT (-118.25882 34.04861)
2,EXPO,806,0,3,0,None,80123,LATTC / Ortho Institute Station,34.029112,-118.273603,LATTC/Ortho,6.478766e+06,1.833089e+06,POINT (-118.27360 34.02911)
3,EXPO,806,0,4,0,None,80124,Jefferson / USC Station,34.022123,-118.278118,Jeff/USC,6.477391e+06,1.830550e+06,POINT (-118.27812 34.02212)
4,EXPO,806,0,5,0,None,80125,Expo Park / USC Station,34.018227,-118.285734,Expo Pk,6.475079e+06,1.829138e+06,POINT (-118.28573 34.01823)
5,EXPO,806,0,6,0,None,80126,Expo / Vermont Station,34.018245,-118.291540,Ex/Vrmnt,6.473320e+06,1.829150e+06,POINT (-118.29154 34.01825)
6,EXPO,806,0,7,0,None,80127,Expo / Western Station,34.018331,-118.308910,Ex/Wstrn,6.468056e+06,1.829197e+06,POINT (-118.30891 34.01833)
7,EXPO,806,0,8,0,None,80128,Expo / Crenshaw Station,34.022526,-118.335078,Ex/Crnshw,6.460132e+06,1.830749e+06,POINT (-118.33508 34.02253)
8,EXPO,806,0,9,0,None,80129,Farmdale Station,34.023981,-118.346095,Farmdale,6.456795e+06,1.831290e+06,POINT (-118.34610 34.02398)
9,EXPO,806,0,10,0,None,80130,Expo / La Brea Station,34.024803,-118.355159,Ex/LBrea,6.454050e+06,1.831599e+06,POINT (-118.35516 34.02480)
10,EXPO,806,0,11,0,None,80131,La Cienega / Jefferson Station,34.026355,-118.372120,LCienega,6.448912e+06,1.832182e+06,POINT (-118.37212 34.02636)
11,EXPO,806,0,12,0,None,80132,Culver City Station,34.027896,-118.388986,CulvrCty,6.443804e+06,1.832762e+06,POINT (-118.38899 34.02790)
12,EXPO,806,0,13,0,None,80133,Palms Station,34.029323,-118.404255,Palms,6.439180e+06,1.833300e+06,POINT (-118.40426 34.02932)
13,EXPO,806,0,14,0,None,80134,Westwood / Rancho Park Station,34.036816,-118.424576,Westwood,6.433034e+06,1.836052e+06,POINT (-118.42458 34.03682)
14,EXPO,806,0,15,0,None,80135,Expo / Sepulveda Station,34.035408,-118.434234,Sepulveda,6.430106e+06,1.835552e+06,POINT (-118.43423 34.03541)
15,EXPO,806,0,16,0,None,80136,Expo / Bundy Station,34.031705,-118.452896,Bundy,6.424446e+06,1.834230e+06,POINT (-118.45290 34.03171)
16,EXPO,806,0,17,0,None,80137,26th St / Bergamot Station,34.027995,-118.469120,26th/Berg,6.419524e+06,1.832902e+06,POINT (-118.46912 34.02799)
17,EXPO,806,0,18,0,None,80138,17th St / SMC Station,34.023155,-118.480372,17th/SMC,6.416106e+06,1.831157e+06,POINT (-118.48037 34.02316)
18,EXPO,806,0,19,0,None,80139,Downtown Santa Monica Station,34.014010,-118.491384,S Monica,6.412753e+06,1.827845e+06,POINT (-118.49138 34.01401)

## Data types revisited

### Let's start with some data

Let's look at some variables related to [metro stations in Los Angeles](https://developer.metro.net/). For each station, a number of pieces of information are given, including the name of the station, the line number (linenum), stop number (stopnum) its latitude (lat), its longitude (long). We can store this information and some additional information for a given station in Python as follows:

In [46]:
station = 'Westwood / Rancho Park'

In [47]:
linenum = 806

In [48]:
stopnum = 80134

In [49]:
lat = 34.0368

In [50]:
long = -118.425

Here we have 5 values assigned to variables related to a single observation station. Each variable has a unique name and they can store different types of data.

### Reminder: Data types and their compatibility

We can explore the different types of data stored in variables using the `type()` function.
Let's use the cells below to check the data types of the variables `station`, `linenum`, and `lat`.

In [51]:
type(station)

str

In [52]:
type(linenum)

int

In [53]:
type(lat)

float

As expected, we see that the `station_name` is a character string, the `station_id` is an integer, and the `station_lat` is a floating point number.

<div class="alert alert-info">

**Note**

Remember, the data types are important because some are not compatible with one another. What happens when you try to add the variables `station` and `linenum` in the cell below?

</div>

In [54]:
station + linenum

TypeError: can only concatenate str (not "int") to str

Here we get a `TypeError` because Python does not know to combine a string of characters (`station`) with an integer value (`linenum`).

### Converting data from one type to another

It is not the case that things like the `station` and `linenum` cannot be combined at all, but in order to combine a character string with a number we need to perform a *data type conversion* to make them compatible. Let's convert `linenum` to a character string using the `str()` function. We can store the converted variable as `linenum_str`.

In [55]:
linenum_str = str(linenum)

We can confirm the type has changed by checking the type of `linenum_str`, or by checking the output when you type the name of the variable into a cell and running it.

In [56]:
type(linenum_str)

str

In [57]:
linenum_str

'806'

As you can see, `str()` converts a numerical value into a character string with the same numbers as before.

<div class="alert alert-info">

**Note**

Similar to using `str()` to convert numbers to character strings, `int()` can be used to convert strings or floating point numbers to integers and `float()` can be used to convert strings or integers to floating point numbers.

</div>

<div class="alert alert-warning">

**Attention**

**Poll pause - Questions 2.2, 2.3**

Please visit the [class polling page](https://geo-python.github.io/poll) to participate (*only for those present during the lecture time*).

</div>

### Combining text and numbers

Although most mathematical operations operate on numerical values, a common way to combine character strings is using the addition operator `+`. Let's create a text string in the variable `station_name_and_id` that is the combination of the `station` and `linenum` variables. Once we define `station_name_and_id`, we can print it to the screen to see the result.

In [58]:
station_name_and_id = station + ": " + str(linenum)

In [59]:
print(station_name_and_id)

Westwood / Rancho Park: 806

Note that here we are converting `linenum` to a character string using the `str()` function within the assignment to the variable `station_name_and_id`. Alternatively, we could have simply added `station` and `linenum_str`.

## Lists and indices

Above we have seen a bit of data related to one of the stations on the LA Metro Expo line. Rather than having individual variables for each of those stations, we can store many related values in a *collection*. The simplest type of collection in Python is a **list**.

### Creating a list

Let’s first create a list of selected `station_name` values and print it to the screen.

In [60]:
station_names = ['Pico', 'Culver City', 'Westwood / Rancho Park', 'Downtown Santa Monica']

In [61]:
print(station_names)

['Pico', 'Culver City', 'Westwood / Rancho Park', 'Downtown Santa Monica']

We can also check the type of the `station_names` list using the `type()` function.

In [62]:
type(station_names)

list

Here we have a list of 4 `station_name` values in a list called `station_names`. As you can see, the `type()` function recognizes this as a list. Lists can be created using the square brackets `[` and `]`, with commas separating the values in the list.

### Index values

To access an individual value in the list we need to use an **index value**. An index value is a number that refers to a given position in the list. Let’s check out the first value in our list as an example by printing out `station_names[1]`:

In [63]:
print(station_names[1])

Culver City

Wait, what? This is the second value in the list we’ve created, what is wrong? As it turns out, Python (and many other programming languages) start values stored in collections with the index value `0`. Thus, to get the value for the first item in the list, we must use index `0`. Let's print out the value at index `0` of `station_names` below.

In [64]:
print(station_names[0])

Pico

OK, that makes sense, but it may take some getting used to...

### A useful analog - Bill the vending machine

As it turns out, index values are extremely useful, common in many programming languages, yet often a point of confusion for new programmers. Thus, we need to have a trick for remembering what an index value is and how they are used. For this, we need to be introduced to Bill.

![Bill the vending machine](img/bill-the-vending-machine.png)
*Bill, the vending machine.*

As you can see, Bill is a vending machine that contains 6 items. Like Python lists, the list of items available from Bill starts at 0 and increases in increments of 1.

The way Bill works is that you insert your money, then select the location of the item you wish to receive. In an analogy to Python, we could say Bill is simply a list of food items and the buttons you push to get them are the index values. For example, if you would like to buy a taco from Bill, you would push button `3`. An equivalent operation in Python could simply be

```python
print(Bill[3])
Taco
```

### Number of items in a list

We can find the length of a list using the `len()` function. Use it below to check the length of the `station_names` list.

In [65]:
len(station_names)

4

Just as expected, there are 4 values in our list and `len(station_names)` returns a value of `4`.

### Index value tips

If we know the length of the list, we can now use it to find the value of the last item in the list, right? What happens if you print the value from the `station_names` list at index `4`, the value of the length of the list?

In [66]:
print(station_names[4])

IndexError: list index out of range

An `IndexError`? That’s right, since our list starts with index `0` and has 4 values, the index of the last item in the list is `len(station_names) - 1`. That isn’t ideal, but fortunately there’s a nice trick in Python to find the last item in a list. Let's first print the `station_names` list to remind us of the values that are in it.

In [67]:
print(station_names)

['Pico', 'Culver City', 'Westwood / Rancho Park', 'Downtown Santa Monica']

To find the value at the end of the list, we can print the value at index `-1`. To go further up the list in reverse, we can simply use larger negative numbers, such as index `-4`. Let's print out the values at these indices below.

In [68]:
print(station_names[-1])

Downtown Santa Monica

In [69]:
print(station_names[-4])

Pico

Yes, in Python you can go backwards through lists by using negative index values. Index `-1` gives the last value in the list and index `-len(station_names)` would give the first. Of course, you still need to keep the index values within their ranges. What happens if you check the value at index `-5`?

In [70]:
print(station_names[-5])

IndexError: list index out of range

### Modifying list values

Another nice feature of lists is that they are *mutable*, meaning that the values in a list that has been defined can be modified. Consider a list of the observation station types corresponding to the station names in the `station_names` list.

Let's change the value for `station_names[1]` to be `'Palms'` and print out the `station_names` list again.

In [71]:
station_names[1] = 'Palms'
print(station_names)

['Pico', 'Palms', 'Westwood / Rancho Park', 'Downtown Santa Monica']

### Data types in lists

Lists can also store more than one type of data. Let’s consider that in addition to having a list of each station name, FMISID, latitude, etc. we would like to have a list of all of the values for station ‘Helsinki Kaivopuisto’.

In [72]:
station_westwood_rancho = [station, linenum, lat, long, linenum]
print(station_westwood_rancho)

['Westwood / Rancho Park', 806, 34.0368, -118.425, 806]

Here we have one list with 3 different types of data in it. We can confirm this using the `type()` function. Let's check the type of `station_hel_kaivo`, then the types of the values at indices `0-2` in the cells below.

In [73]:
type(station_westwood_rancho)

list

In [74]:
type(station_westwood_rancho[0])    # The station name

str

In [75]:
type(station_westwood_rancho[1])    # The FMISID

int

In [76]:
type(station_westwood_rancho[2])    # The station latitude

float

### Adding and removing values from lists

Finally, we can add and remove values from lists to change their lengths. Let’s consider that we no longer want to include the first value in the `station_names` list. Since we haven't see that list in a bit, let's first print it to the screen.

In [77]:
print(station_names)

['Pico', 'Palms', 'Westwood / Rancho Park', 'Downtown Santa Monica']

`del` allows values in lists to be removed. It can also be used to delete values from memory in Python. To remove the first value from the `station_names` list, we can simply type `del station_names[0]`. If you then print out the `station_names` list, you should see the first value has been removed.

In [78]:
del station_names[0]

In [79]:
print(station_names)

['Palms', 'Westwood / Rancho Park', 'Downtown Santa Monica']

If we would instead like to add a few samples to the `station_names` list, we can type `station_names.append('List item to add')`, where `'List item to add'` would be the text that would be added to the list in this example. Let's add two values to our list in the cells below: `'Helsinki lighthouse'` and `'Helsinki Malmi airfield'`. After doing this, let's check the list contents by printing to the screen.

In [ ]:
station_names.append('Helsinki lighthouse')
station_names.append('Helsinki Malmi airfield')

In [ ]:
print(station_names)

As you can see, we add values one at a time using `station_names.append()`. `list.append()` is called a method in Python, which is a function that works for a given data type (a list in this case). We’ll see some other examples of useful list mtehods below.

### Appending to an integer? Not so fast...

Let’s consider our list `station_names`. As we know, we already have data in the list `station_names`, and we can modify that data using built-in methods such as `station_names.append()`. In this case, the method `append()` is something that exists for lists, but not for other data types. It is intuitive that you might like to add (or append) things to a list, but perhaps it does not make sense to append to other data types. Below, let's create a variable `station_name_length` that we can use to store the length of the list `station_names`. We can then print the value of `station_name_length` to confirm the length is correct.

In [ ]:
station_name_length = len(station_names)

In [ ]:
print(station_name_length)

If we check the data type of `station_name_length`, we can see it is an integer value, as expected (do that below). What happens if you try to append the value `1` to `station_name_length`?

In [ ]:
type(station_name_length)

In [ ]:
station_name_length.append(1)

Here we get an `AttributeError` because there is no method built in to the `int` data type to append to `int` data. While `append()` makes sense for `list` data, it is not sensible for `int` data, which is the reason no such method exists for `int` data.

### Some other useful list methods

With lists we can do a number of useful things, such as count the number of times a value occurs in a list or where it occurs. The `list.count()` method can be used to find the number of instances of an item in a list. For instance, we can check to see how many times `'Helsinki Kumpula'` occurs in our list `station_names` by typing `station_names.count('Helsinki Kumpula')`.

In [ ]:
station_names.count('Helsinki Kumpula')    # The count method counts the number of occurences of a value

Similarly, we can use the `list.index()` method to find the index value of a given item in a list. Let's use the cell below to find the index of `'Helsinki Kumpula'` in the `station_names` list.

In [ ]:
station_names.index('Helsinki Kumpula')    # The index method gives the index value of an item in a list

The good news here is that our selected station name is only in the list once. Should we need to modify it for some reason, we also now know where it is in the list (index `2`).

### Reversing a list

There are two other common methods for lists that we need to see. First, there is the `list.reverse()` method, used to reverse the order of items in a list. Let's reverse our `station_names` list below and then print the results.

In [ ]:
station_names.reverse()

In [ ]:
print(station_names)

Yay, it works!

<div class="alert alert-warning">

**Caution**

A common mistake when sorting lists is to do something like `station_names = station_names.reverse()`. **Do not do this!** When reversing lists with `.reverse()` the `None` value is returned (this is why there is no screen ouput when running `station_names.reverse()`). If you then assign the output of `station_names.reverse()` to `station_names` you will reverse the list, but then overwrite its contents with the returned value `None`. This means you’ve deleted the contents of your list (!).

</div>

### Sorting a list

The `list.sort()` method works the same way. Let's sort our `station_names` list and print its contents below.

In [ ]:
station_names.sort()   # Notice no output here...

In [ ]:
print(station_names)

As you can see, the list has been sorted alphabetically using the `list.sort()` method, but there is no screen output when this occurs. Again, if you were to assign that output to `station_names` the list would get sorted, but the contents would then be assigned `None`.

<div class="alert alert-info">

**Note**

As you may have noticed, `Helsinki Malmi airfield` comes before `Helsinki lighthouse` in the sorted list. This is because alphabetical sorting in Python places capital letters before lowercase letters.

</div>